*{
    margin: 0;
    padding: 0;
}

body{
    font-family: cursive;
}
main{
    height: 100vh;
}

header{
    background-color: burlywood;
    padding: 22px;
}

h1{
    background-color: rgb(90, 33, 33);
    width: 200px;
    padding: 5px;
    justify-self: center;
    font-size: 40px;
    color: lightseagreen;
}

h2{
    background-color: lightseagreen;
}

h3{
    margin: auto; 
}

p{
    font-size: 20px;
}

.footer{
    background-color: gray;
}

/*container*/
.container{
    width: 100%;
    height: auto;
    background-color: burlywood;
    align-content: space-evenly;
    justify-content: space-between;
}

.header-contaier{
    display: flex;
}

.menu a{
    border: 2px solid black;
    text-decoration: none;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    background-color: lightcoral;
    color: black;
    
}

.names{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 200px;
}


/*utility*/
.center{
    text-align: center;
}

i{
    font-size: 20px;
}

.btn{
    margin: 5px;
    background-color: gray;
}


.footer-container{
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    align-items: center;
}

.copyright-container{
    display: flex;
}
.social-container a{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    margin-right: 1rem;
}

.social-container i{
    text-align: center;
    color: black;
    width: 2rem;
    height: 2rem;
}

.card{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    width: 90%;
    height: 100px;
    background-color: aliceblue;
}

.card2{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    width: 90%;
    height: 100px;
    background-color: rgb(46, 75, 101);
}

ul{
    background-color: orange;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.card3{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    width: 90%;
    height: 100px;
    background-color: cadetblue;
}


.image{
    font-size: 40px;
}